/nbproject/private/
/Application-ejb/nbproject/private/
/Application-war/nbproject/private/
/Application-ejb/build/
/Application-war/build/
/Application-ejb/dist/
/dist/
/build/
/Application-war/dist/